TZ=Etc/UTC

NODE_ENV=development

SERVER_PORT=9090
CLIENT_URL=http://localhost:5173

POSTGRES_HOST=localhost
POSTGRES_DB=willing_db
POSTGRES_USER=willing_user
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public

JWT_SECRET=jwtsecret
CERTIFICATE_VERIFICATION_SECRET=certsecret
UPLOAD_DIR=

WILLING_SENDER_EMAIL=willing@mail.willing.social

RESEND_API_KEY=
OPENAI_API_KEY=
LOCATION_IQ_API_KEY=
